.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
  color: white;
}

.starting h2 {
  font-size: 3rem;
  color: white;
}

.starting button {
  font: inherit;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.starting button:hover,
.starting button:active {
  background-color: white;
  color: #7a2706;
}

.starting button a {
  color: inherit;
  text-decoration: inherit;
}
